In [6]:
import sys
sys.path.append('../heuristic')
from methods.common import read_env,calculate_cost
pop,J,M,W,N,A,D,pt,p = read_env('../env/case1/0.xlsx')

In [7]:
### 计算时间

In [8]:
calculate_cost(pop[0],J, M, A, D, N, pt, p, W)[1]

{0: 12414.0, 1: 14115.0}

In [9]:
max(calculate_cost(pop[0],J, M, A, D, N, pt, p, W)[1].values())

14115.0

In [8]:
import pandas as pd
root_path = pd.read_csv('../env/bob_info.csv')
root_path.path = root_path.path.apply(lambda x : x.replace('./','env/'))
root_path

,path,class,excel_num,bob
0,env/case1/0.xlsx,1,0,"[[20, 0, 0], [65, 1, 0], [20, 0, 1], [65, 1, 1..."
1,env/case1/1.xlsx,1,1,"[[22, 0, 0], [36, 1, 0], [22, 0, 1], [36, 1, 1..."
2,env/case1/2.xlsx,1,2,"[[53, 0, 0], [2, 1, 0], [53, 0, 1], [2, 1, 1],..."
3,env/case1/3.xlsx,1,3,"[[19, 0, 0], [24, 1, 0], [19, 0, 1], [24, 1, 1..."
4,env/case1/4.xlsx,1,4,"[[41, 0, 0], [47, 1, 0], [41, 0, 1], [47, 1, 1..."
...,...,...,...,...
1995,env/case4/495.xlsx,4,495,"[[0, 0, 0], [46, 1, 0], [0, 0, 1], [46, 1, 1],..."
1996,env/case4/496.xlsx,4,496,"[[33, 0, 0], [55, 1, 0], [33, 0, 1], [55, 1, 1..."
1997,env/case4/497.xlsx,4,497,"[[68, 0, 0], [11, 1, 0], [68, 0, 1], [11, 1, 1..."
1998,env/case4/498.xlsx,4,498,"[[14, 0, 0], [60, 1, 0], [14, 0, 1], [60, 1, 1..."
1999,env/case4/499.xlsx,4,499,"[[29, 0, 0], [43, 1, 0], [29, 0, 1], [43, 1, 1..."