In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib as plt
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
rawdata=pd.read_csv('./result/result_method.csv')
rawdata.columns=['SA']*5+['GA']*5+['ACO']*5+['TS']*5
### 导入十次测试的结果
data_list=[]
for i in range(5):
    data_list.append(rawdata.iloc[:,[i,i+5,i+10,i+15]])
# 将四个DataFrame相加
df=data_list[0]
for i in range(1,5):
    df=df.add(data_list[i])
df = df.apply(lambda x: [1 if i == x.min() else 0 for i in x], axis=1, result_type='broadcast').astype(int)
df

     SA  GA  ACO  TS
0     0   0    1   0
1     0   1    0   0
2     1   0    0   0
3     0   0    1   0
4     1   0    0   0
..   ..  ..  ...  ..
395   1   0    0   0
396   1   0    0   0
397   1   0    0   0
398   1   0    0   0
399   1   0    0   0

[400 rows x 4 columns]

In [2]:
label = np.argmax(df.values, axis=1)
label

array([2, 1, 0, 2, 0, 0, 0, 2, 1, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 3, 2, 0, 2, 2, 1, 2, 0, 0,
       0, 0, 1, 0, 0, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 2, 2, 2, 2, 0, 0, 0, 0, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 2, 1, 2, 2, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0])

In [3]:
import os
def find_image_file(source_path, file_lst):
    """
    递归寻找 文件夹以及子目录的 图片文件。
    :param source_path: 源文件夹路径
    :param file_lst: 输出 文件路径列表
    :return:
    """
    image_ext = ['.xlsx']
    for dir_or_file in os.listdir(source_path):
        file_path = os.path.join(source_path, dir_or_file)
        if os.path.isfile(file_path):  # 判断是否为文件
            file_name_ext = os.path.splitext(os.path.basename(file_path))  # 文件名与后缀
            if len(file_name_ext) < 2:
                continue
            if file_name_ext[1] in image_ext:  # 后缀在后缀列表中
                file_lst.append(file_path)
            else:
                continue
        elif os.path.isdir(file_path):  # 如果是个dir，则再次调用此函数，传入当前目录，递归处理。
            find_image_file(file_path, file_lst)
        else:
            print('文件夹没有环境' + os.path.basename(file_path))
env_path_list=[]
find_image_file('../env',env_path_list)
dataset = pd.DataFrame([env_path_list,label],index=['path','label']).T
dataset = dataset.sample(400)
dataset

                     path label
189  ../env/case2/70.xlsx     1
172  ../env/case2/67.xlsx     1
220  ../env/case3/33.xlsx     3
298  ../env/case3/11.xlsx     3
188  ../env/case2/45.xlsx     1
..                    ...   ...
287   ../env/case3/0.xlsx     3
388  ../env/case4/76.xlsx     0
52   ../env/case1/37.xlsx     2
349  ../env/case4/53.xlsx     0
374  ../env/case4/97.xlsx     0

[400 rows x 2 columns]

In [8]:
dataset.to_csv('../prototypical/dataset/data_info.csv',index=False)